.myDrinkItem {
width: 400px;
height: 676px;
}

.imgWrapper{
width: 400px;
height: 400px;
}

.img{
    width: 400px;
    height: 400px;
}

.descWrapper{
    
}

.drinkTitle{
    margin-top: 24px;
    margin-bottom: 0;
}

.drinkCategory{
    margin-top: 4px;
    margin-bottom: 24px;
}

.drinkDescription{
    margin-bottom: 24px;
}

.moreBtn{}

.deleteBtn{

}